*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
background-color: #0085d8;
background-image: linear-gradient(to bottom right,  #0085d8,#005199);
color:white;
text-shadow: 2px 2px 4px #000000;
}
a{
    text-decoration: none;
    color:white;
}
header, footer{
    background-color: rgb(58, 64, 73);
    padding: 0 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
header a:hover{
    text-decoration: underline;
}
header img{
    max-width: 25%;
}
header li{
    font-size: 1.5vw;
}
header ul img{
    max-width: 1em;
}

img{
    max-width: 100%;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode:bicubic;
    image-rendering:optimizeQuality;
}
#logo{
    max-width: 20vw;
    margin-left: 30px;
}
#lang{
    text-align: right;
}
#lang a{
    padding: 2px;
}
#lang a:hover{
    box-shadow:0px 0px 0px 1px white inset;
}
.underline{
    text-decoration: underline;
}
nav{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    padding: 10px 15px;
    background-color: rgb(58, 64, 73);
    min-width:100%;
}
nav ul{
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content:space-between;
    align-items: center;
}
nav ul img{
    max-width: 3.5vw;
}
#logos{
    min-width: 40vw;
    min-height: 100%;
}
#logos li{
    padding-bottom: 0px;
    border-bottom: 0px solid rgba(0,0,0,0);
    -webkit-transition: padding-bottom 0.3s, border-bottom 0.3s; /* Safari */
    transition: padding-bottom 0.3s, border-bottom 0.3s; 
}
#logos li:hover{
    /*
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
*/
padding-bottom: 5px;
border-bottom: 2px solid white;

}
h1,h2,h3{
    margin: 1em 0;
    font-size: 2.2vw;
}
.double{
    font-size: 2vw;
    margin: 30px 0;
}
p{
    font-size: 1vw;
    font-family: Georgia, sans-serif;
    line-height: 1.6;
}
main {
    padding: 10px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    
}
main section{
    margin: 20px 0 80px 0;
}
main h2{
    text-align: center;
}
main p{
    font-size: 1.5vw;
}
#large-img{
display: block;
    margin: 20px auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}
.slider{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-gap: 10px;
   padding:0 auto;
}
.slider img{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}
.slider img:hover{
    cursor: pointer;
    border:1px inset white;
}
.flex{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}
.flex p{
    max-width: 50%;
}
footer{
    padding:5px 20px 20px 20px;
}
footer ul, footer p{
    font-size: 1.5vw;
}

footer section{
    margin: 0 auto 10px auto;
    width: 100%;
     justify-content: space-between;
}
footer ul{
    list-style: none;
    display: block;
}
footer h1{
    text-align: center;
}
footer div{
max-width: 40%;
}
footer div ul{
    margin-top: 10px;
}
footer a{
    text-decoration: none;
    color:white;
}

#copy{
    text-align: center;
    font-size: 1vw;
    margin-top: 20px;
}
@media only screen and (max-width: 1200px) {
    #crop{
        display: none;
    }
header li{
    font-size: 2vw;
}
h1,h2,h3{
    margin: 1em 0;
    font-size: 3vw;
}
.double{
    font-size: 3vw;
    margin: 30px 0;

}
p{
    font-size: 2vw;
    font-family: Georgia, sans-serif;
    line-height: 1.6;
}
main p{
    font-size: 2vw;
}
header .flex p{
    width: 50vw;
}

footer p, footer ul{
   font-size: 2vw;     
}
#lang{
    font-size: 1.5vw;
}

.flex p{
    max-width: 50%;
    margin:20px 0;
    font-size: 2vw;
}

}


@media only screen and (max-width: 800px) {
    #logo{
        display: none;
    }
    #logos{
    min-width: 80vw;
    min-height: 60px;
    margin: 0 auto 5px auto;
}
    nav{
        display: flex;
        justify-content: center;
        max-height: 80px;
    }
nav ul img{
    max-width: 8vw;
}
header img{
    display: none;
}

#lang a{
    font-size: 2em;
}
header li{
    font-size: 4.5vw;
}
h1,h2,h3{
    margin: 1em 0;
    font-size: 5vw;
    text-align: center;
}
.double{
    font-size: 5vw;
    margin: 30px 0;
}
.slider{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
   padding:0 auto;
}

.flex{
    display: block;
    margin: 0 auto;

}
iframe{
    display: block;
    margin: 0 auto;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode:bicubic;
    image-rendering:optimizeQuality;
}
.double{
    font-size: 4.5vw;
    margin: 30px 0;
}
p{
    font-size: 4vw;
    font-family: Georgia, sans-serif;
    line-height: 1.6;
}
main p{
    font-size: 4vw;
    min-width: 90%;
    text-align: center;
    display: block;
    margin: 0 auto;
}
#lang{
    font-size: 1.5vw;
}
.flex p{
    min-width: 100%;
    margin:20px 0;
    font-size: 3.5vw;
}

 footer .flex ul{
        display: block;
        margin: 0 auto;
        min-width: 90vw;
        font-size: 3.3vw;
        text-align: center;
    }
    #copy{
        font-size: 2vw;
    }
}


